nav {
    height: 50px;
    background-color: rgb(126, 126, 126);
    color: rgb(200, 200, 200);
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
}

nav li {
    padding: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(255, 185, 162);
}